<div class="row">
  <div class="col">
    Liste des todos
    <ol class="list-group">
      <li
        *ngFor="let todo of todos"
        class="list-group-item">
        {{todo.name}}: {{todo.content}}
        <i (click)="deleteTodo(todo)" class="fa fa-trash" aria-hidden="true"></i>

      </li>
    </ol>
  </div>
  <div class="col">
    Name: <input [(ngModel)]="todo.name" type="text" class="form-control">
    Content <input [(ngModel)]="todo.content" type="text" class="form-control">

    <br>
    <button
      [disabled]="!todo.name.trim() || !todo.content.trim()"
      (click)="addTodo()"
      class="btn btn-primary">
      Add Todo
    </button>
  </div>
</div>
